<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.tian.mapper.zhangbei.Zb_PermissonMapper" >
    <select id="PermissionAll" resultType="com.guigu.tian.entity.Permission" parameterType="com.guigu.tian.entity.Permission">
SELECT yg.`ygid`,qx.* FROM `yuangong` yg
INNER JOIN `userrole` jsyg
ON yg.`ygid` = jsyg.`ygid`
INNER JOIN role js
ON js.`rid` = jsyg.`rid`
INNER JOIN `rolepermission` cd
ON cd.`rid` = js.`rid`
INNER JOIN `permission` qx
ON qx.`pid`= cd.`pid`

<where>
    AND qx.pstatus = '0'
    <if test="pisnavi==0">
        and  yg.`ygid` = #{ygid}
        AND qx.pisnavi = #{pisnavi}
    </if>
    <if test="pisnavi==1">
    and  yg.`ygid` = #{ygid}
    and qx.`parentid`=#{pid}
    </if>
    <if test="pisnavi==2">
        and  yg.`ygid` = #{ygid}
        and qx.`parentid`=#{pid}
    </if>
</where>
    ORDER BY qx.pid ASC
    </select>

    <select id="PermissionFYAll" resultType="com.guigu.tian.entity.Permission" parameterType="com.guigu.tian.entity.Permission">
        SELECT yg.`ygid`,qx.* FROM `yuangong` yg
        INNER JOIN `userrole` jsyg
        ON yg.`ygid` = jsyg.`ygid`
        INNER JOIN role js
        ON js.`rid` = jsyg.`rid`
        INNER JOIN `rolepermission` cd
        ON cd.`rid` = js.`rid`
        INNER JOIN `permission` qx
        ON qx.`pid`= cd.`pid`
        <where>
        AND qx.pstatus = '0'
        <if test="pid==0">
            and  yg.`ygid` = #{ygid}
            AND qx.pisnavi = #{pisnavi}
        </if>
        <if test="pisnavi==0">
            and  yg.`ygid` = #{ygid}
            AND qx.pisnavi = #{pisnavi}
        </if>
        <if test="pisnavi==1 and pid!=0">
            and  yg.`ygid` = #{ygid}
            and qx.`parentid`=#{pid}
            AND qx.pisnavi = #{pisnavi}
        </if>
        <if test="pisnavi==2 and pid!=0">
            and  yg.`ygid` = #{ygid}
            and qx.`parentid`=#{pid}
            AND qx.pisnavi = #{pisnavi}
        </if>
        </where>
        ORDER BY qx.pid ASC
    </select>

    <select id="deleterolepermission" parameterType="com.guigu.tian.mapper.zhangbei.Zb_PermissonMapper">
       DELETE FROM rolepermission where pid =#{pid}
    </select>


</mapper>