<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.tian.mapper.hesijie.Hsj_DingDangMapper" >
                <select id="queryAll" parameterType="com.guigu.tian.entity.MyHsj_UserDingDangs" resultType="com.guigu.tian.entity.MyHsj_UserDingDangs">
                    SELECT
                    sh.shid shid,
                    sh.shname shname,
                    sh.shaddr shaddr,
                    sh.uid uid,
                    udd.shid shid,
                    udd.uddid uddid,
                    udd.udddingdan udddingdan,
                    udd.udspricesum udspricesum,
                    udd.uzhuangtai uzhuangtai,
                    udd.udtime udtime,
                    udd.udfahuotime udfahuotime,
                    udd.uddaititime uddaititime,
                    udd.udendtime udendtime,
                    utd.udname udname,
                    utd.udphone udphone,
                    sps.sprice sprice,
                    sps.sname sname,
                    sps.sbeizhu sbeizhu,
                    sps.simg simg,
                    sp.scount ucount
                    FROM usershop sp
                    INNER JOIN  userdingdan udd
                    ON sp.uddid=udd.uddid
                    INNER JOIN userdtails utd
                    ON  sp.uid=utd.uid
                    INNER JOIN  shop sps
                    ON sps.sid=sp.sid
                    INNER JOIN shanghu sh
                    ON udd.shid=sh.shid
                    <where>
                        <if test="uid!=0">
                            and   sh.shid= #{shid}
                        </if>
                        <if test="udname!=null and udname!=''">
                            and udname like concat('%',#{udname},'%')
                        </if>
                        <if test="uzhuangtai2!=null and uzhuangtai2!=''">
                            and udd.uzhuangtai =#{uzhuangtai2}
                        </if>
                        and udd.uzhuangtai !=#{uzhuangtai}
                    </where>
                </select>

                 <update id="updateUserDingdang" parameterType="int">
                        update userdingdan set uzhuangtai = 'f004-1',uddaititime = now() where uddid = #{uddid}
                 </update>
</mapper>