<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.tian.mapper.jiangweijie.GhshangGowucheMapper" >

    <!--条件查询-->
    <select id="selectgowuche" parameterType="com.guigu.tian.entity.Usershop" resultType="com.guigu.tian.entity.Usershop">
        SELECT * FROM usershop WHERE uid=#{uid} and sid=#{sid}
    </select>
    <!--根据条件修改-->
    <update id="updategowuche" parameterType="com.guigu.tian.entity.Usershop">
        UPDATE usershop SET scount=scount+1 WHERE uid=4 AND sid=175
    </update>


    <!--购物车查询-->
    <select id="selectAll" parameterType="com.guigu.tian.entity.jiangweijie.Supgowuchetiaoiang" resultType="com.guigu.tian.entity.jiangweijie.Supgowuche">
        SELECT usershop.`scount`,shop.`sname`,shop.`sprice`,shop.`simg` FROM USER INNER JOIN usershop ON
        user.`uid`=usershop.`uid` INNER JOIN shop ON usershop.`sid`=shop.`sid` WHERE user.`uid`=#{id}
        <if test="name!=null and name!=''">
            and shop.`sname` like concat(concat('%', #{name}), '%')
        </if>

    </select>


</mapper>